.home-container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.home-aside {
  flex: 0 0 25%;
}

.home-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-search-bar {
  margin-bottom: 2rem;
}

.search-bar-input {
  padding: 0.5rem;
  font-size: 1.6rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
  }

  .home-aside {
    flex: 1;
    margin-bottom: 1rem;
  }

  .search-bar-input {
    font-size: 1.4rem;
  }
}
