.product-cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.5rem;
  border: solid 1px rgb(230, 227, 227);
  height: 100%;
  padding: 1rem;
  overflow: hidden;
  position: relative;
  background-color: transparent;
}
.product-cont {
  width: 100%;
}
.product-title {
  font-size: 2rem;
}
.product-car_container-img {
  position: relative;
  height: 20rem;
  background-color: transparent;
}

.product-car_img {
  position: absolute;
  top: 0;
  left: 50%;
  width: 80%;
  height: 20rem;
  object-fit: contain;
  transform: translate(-50%);
  transition: opacity 0.3s ease-in;
  background-color: transparent;
}
.product-cart_paragraph_price {
  color: red;
}
.product-car_container-img--hidden {
  opacity: 0;
}

.product-car_container-img--visible {
  opacity: 1;
}
.product-car_container-img:hover img.product-car_container-img--hidden {
  opacity: 1;
}

.product-car_container-img:hover img.product-car_container-img--visible {
  opacity: 0;
}

.product-cart_btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 7rem;
  height: 7rem;
  border: none;
  background-color: transparent;
}

.bxs-cart-add {
  font-size: 3.5rem;
  color: black;
}
